---
import Root from "../../layouts/root.astro";

const { id } = Astro.params;
const response = await fetch(`http://localhost:8000/viewGame/${id}`);
const data = await response.json();
---

<Root>
  <div class="flex items-center justify-center text-center">
    <form action=`http://localhost:8000/updateGame/${id}` method="post">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Nombre </span>
        </div>
        <input
          type="text"
          name="name"
          id="name"
          class="input input-bordered w-full max-w-xs"
          minlength="1"
          maxlength="100"
          required
          value={data.name}
        />
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Desarrollador </span>
        </div>
        <input
          type="text"
          name="developer"
          id="developer"
          class="input input-bordered w-full max-w-xs"
          minlength="1"
          maxlength="50"
          required
          value={data.developer}
        />
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Distribuidor </span>
        </div>
        <input
          type="text"
          name="distributor"
          id="distributor"
          class="input input-bordered w-full max-w-xs"
          minlength="1"
          maxlength="50"
          required
          value={data.distributor}
        />
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text"> Fecha de Lanzamiento </span>
        </div>
        <input
          type="date"
          name="released"
          id="released"
          class="input input-bordered w-full max-w-xs"
          required
          value={`${data.released}`}
        />
      </label>

      <button class="btn btn-md btn-warning">Actualizar Juego</button>
    </form>
  </div>
</Root>
